.headerContainer {
  width: 100%;
  height: 5rem;
  position: fixed;

  top: 0;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;

  padding-right: 8rem;

  border-bottom: 2px solid var(--secondary-color);

  background: var(--primary-color);
}

.headerContainer div {
  color: var(--white);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.headerContainer div p {
  font-size: 1.5rem;
}

.headerContainer div button {
  padding: 0 0;
  background: transparent;
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 400;
}

@media (max-width: 770px) {
  .headerContainer {
    padding-right: 3rem;
  }
}
