.registerContainer {
  width: 100%;
  height: 100%;

  border: 3px solid var(--primary-color);
  border-radius: 8px;

  -webkit-box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.15);
}

.registerContainer form {
  width: 100%;
  padding: 1.5rem;
}

.registerContainer .formDivider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.registerContainer .formDivider div {
  width: inherit;
  padding: 0.5rem 0.5rem;
}

.registerContainer button {
  margin-top: 5rem;
  font-size: 1.5rem;

  background: var(--primary-color);
  color: var(--white);
}

@media (max-width: 770px) {
  .registerContainer {
    overflow-y: scroll;
  }

  .registerContainer .formDivider {
    flex-direction: column;
  }
}
