.landingContainer {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;
}

.landingContainer .landingBackground {
  width: 100%;
  height: 100%;

  position: fixed;
  z-index: 0;

  background-color: var(--background);
  background: linear-gradient(
      to top,
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 1)
    ),
    url("/images/background.png") no-repeat bottom center;
  background-size: contain;
  opacity: 0.5;
  bottom: -5rem;
}

.landingContainer .landingContent {
  width: 100%;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.landingContainer .landingContent img {
  width: 100%;
  max-width: 1000px;
}

.landingContainer .landingContent button {
  border: none;
  background: var(--primary-color);

  font-size: 1.75rem;
  font-weight: 600;
  color: var(--white);

  border-radius: 50px;
  padding: 0.25rem 2.25rem;
}
