html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --background: #fafafa;
  --text-primary: #212121;
  --text-secondary: #757575;

  --primary-color: #196e9e;
  --secondary-color: #1f3368;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--background);
  color: var(--text-primary);
}

button {
  font-weight: 600;
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  cursor: pointer;
  padding: 0.2rem 1.5rem;
  border: none;
  border-radius: 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  width: 100%;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  background: transparent;
  border: 3px solid var(--primary-color);
  border-radius: 50px;
}

label {
  font-size: 1.5rem;
  margin: 0.2rem 0.2rem;
  font-weight: 600;
  color: var(--primary-color);
}
